@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

// COLOR
$black: #000000;
$light-grey: #8c8ca1;
$menu-background: #ece8ff;
$primary-color: #755ae2;
$body-color: #4a4a68;

// FONTS
$large: 20px;
$medium: 18px;
$small: 14px;

// FONT-STYLE
$dm-sans: "DM Sans", sans-serif;
